@import '/css/reset.css';

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import '/css/fonts/Gilroy/stylesheet.css';

/* VARIABLES */
:root {
	--teal: #114455;
	--blue: #4a2ad3;
	--darkGrey: #1f1f1f;
	--whie: #fff;
}

body {
	/* font-family: 'Work Sans', sans-serif; */
	font-family: 'Gilroy', sans-serif;
	font-weight: 500;
}

/* CONTAINER */
.container {
	/* max-with 1720 + padding-left-right + 30 */
	max-width: 1750px;
	padding: 0 15px;
	margin: 0 auto;
}

/* HEADER =========================================== */

.header {
	min-height: 100vh;
	background-image: url(/img/header/header-img-1.jpg);
	background-size: cover;
	background-position: center;
}

/* HEADER BUTTONS */
.btn {
	display: inline-block;
	padding: 10px 24px;
	border: 2px solid var(--teal);
	border-radius: 2px;

	font-size: 20px;
	font-weight: 800;
	color: var(--teal);
}

/* HEADER TOP */
.header__top {
	padding: 44px 0;
	margin-bottom: 126px;
}

/* HEADER NAV */
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__links {
	display: flex;
	align-items: center;
	column-gap: 118px;
}

.header__link {
	font-size: 20px;
	font-weight: 800;
}
.header__link a {
	color: var(--teal);
}

/* HEADER CONTENT */
.header__content {
	max-width: 1060px;
}

.header__title {
	font-size: 80px;
	font-weight: 800;
	max-width: 734px;
	color: var(--teal);

	margin-bottom: 48px;
}

.header__text {
	font-size: 34px;
	font-weight: 400;
	color: var(--darkGrey);

	margin-bottom: 72px;
}
.header__text p + p {
	margin-top: 1em;
}

.header__arrow-down {
}
