@import '/css/main.css';

/* Tablet @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (max-width: 1000px) {
	.header__title {
		font-size: 50px;
		margin-bottom: 28px;
	}

	.header__text {
		line-height: 1.57;
		font-size: 24px;
		margin-bottom: 50px;
	}

	.header__links {
		column-gap: 60px;
	}
}

/* MOBILE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media (max-width: 600px) {
	.container {
		padding: 0 25px;
	}

	.header__logo {
		max-width: 109px;
	}

	.header__links {
		display: none;
	}

	.nav__btn {
		display: block;
		margin-right: 1px;
	}

	.header__content {
		display: none;
	}

	.header__content--mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 27px;

		color: rgba(31, 31, 31, 0.7);
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	.hc--mobile__text {
		max-width: 237px;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px; /* 150% */
		letter-spacing: 0.96px;
	}

	.header__logo--mobile {
		max-width: 244px;
	}

	.header__arrow-down {
		width: 19px;
		height: 16px;
		bottom: 32px;
	}

	/* CASE STUDIES */
	.case-studies {
		padding: 80px 0;
		overflow-x: hidden;
	}

	.case-studies__title {
		margin-bottom: 7px;
	}

	.title {
		font-size: 32px;
	}

	.case-studies__text {
		max-width: 291px;
		margin-bottom: 31px;
	}

	.text {
		font-size: 16px;
	}

	.slider {
		width: 546px;
	}

	.slide {
		padding-left: 33px;
	}

	.slide__title {
		bottom: 22px;
		font-size: 60px;

		background: linear-gradient(
			90deg,
			rgba(17, 68, 85, 1) 33px,
			rgba(255, 255, 255, 1) 33px
		);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.slide__img {
		width: 224px;
		height: 264px;
	}

	/* ABOUT */
	.about {
		padding: 0;
	}

	.about__title {
		margin-bottom: 7px;
	}

	.about__text {
		width: 100%;
		margin-bottom: 40px;
	}
	@media (max-width: 380px) {
		.about__text {
			width: 291px;
		}
	}

	.video {
		width: 100%;
		position: relative;
	}

	.about__content {
		display: flex;
		justify-content: center;
	}

	.video__preview,
	.video__preview img {
		width: 100%;
	}

	.video__btn img {
		height: 48px;
	}

	.video__object {
		display: none;
	}

	.video__object--mobile {
		display: block;
	}

	/* FOOTER */

	.footer {
		padding: 32px 0;
	}

	.footer__row {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 32px;
	}

	.footer__nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		gap: 16px;
	}

	.footer__copyright {
		order: 2;
		font-size: 14px;
	}

	.footer a {
		color: rgba(31, 31, 31, 0.7);
		font-family: Gilroy-Medium;
		font-size: 16px;
		font-weight: 400;
		line-height: 36px;
		letter-spacing: 0.8px;
	}

	.footer__email a {
		color: var(--blue);
	}

	.social__icon {
		width: 24px;
		height: 24px;
	}
}

@media (max-width: 376px) {
	.mobile-nav__header {
		margin-bottom: 36px;
	}
	.mobile__list {
		margin-bottom: 30px;
	}
	.mobile__contacts {
		margin-bottom: 10px;
	}
	.mobile__contacts__title {
		margin-bottom: 32px;
	}
	.mobile__footer__email {
		margin-bottom: 12px;
	}
	.mobile__footer__socials {
		margin-bottom: 12px;
	}
}
